body {
  margin: 0;
  font-family: sans-serif;
  background-color: #fafafa;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.card-producto-link {
  text-decoration: none;
  color: inherit;        
  display: block;         
}
